language: php

php:
    - 5.5
    - 5.6
    - 7.0
    - 7.1
    - 7.2

install:
    - composer self-update
    - composer install

#before_script:
    #- sudo apt-get install php5-fpm

script:
    - phpunit --coverage-clover=coverage.clover

after_script:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
