language: php
php:
  - 7.1
  - 7.2
  - 7.3
  - nightly

before_install:
  - phpenv config-add tests/cachetool.ini

install:
  - composer install

script:
  - $(composer config bin-dir)/phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
