language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - hhvm

install:
    - composer self-update
    - composer install --prefer-source

before_script:
    - sudo apt-get install php5-fpm
    - pecl config-set preferred_state beta
    - printf "yes\n" | pecl install apcu
    - phpenv config-add tests/travis/php.ini

script:
    - phpunit --coverage-clover=coverage.clover

after_script:
    - sh -c "if [[ $TRAVIS_PHP_VERSION != 'hhvm' ]] && [[ `php-config --vernum` == 50600 ]] ; then wget https://scrutinizer-ci.com/ocular.phar ; php ocular.phar code-coverage:upload --format=php-clover coverage.clover ;fi"

