name: ci

on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      max-parallel: 15
      matrix:
        operating-system: [ubuntu-latest, macOS-latest]
        php-versions: ['7.2', '7.3', '7.4']
    name: Test PHP ${{ matrix.php-versions }} on ${{ matrix.operating-system }}
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Setup PHP
      uses: shivammathur/setup-php@master
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: apcu, xdebug, mbstring
        ini-values: apc.enabled=1, apc.enable_cli=1, opcache.enable=1, opcache.enable_cli=1
        coverage: xdebug

    - name: Check PHP Version
      run: php -v

    - name: Check Composer Version
      run: composer -V

    - name: Check PHP Extensions
      run: php -m

    - name: Get Composer Cache Directory
      id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"

    - name: Cache dependencies
      uses: actions/cache@v1
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('composer.json') }}
        restore-keys: ${{ runner.os }}-composer-${{ hashFiles('composer.json') }}

    - name: Install Dependencies
      run: composer install --prefer-dist

    - name: Run test suite
      run: $(composer config bin-dir)/phpunit --coverage-clover=coverage.clover

    - name: Upload coverage to scrutinizer
      run: |
        wget https://scrutinizer-ci.com/ocular.phar
        php ocular.phar code-coverage:upload --format=php-clover coverage.clover

  release:
    runs-on: ubuntu-latest
    name: Create & Publish Release
    if: ${{ github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v') }}
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: 7.4
          extensions: apcu, xdebug, mbstring
          ini-values: apc.enabled=1, apc.enable_cli=1, opcache.enable=1, opcache.enable_cli=1
          coverage: xdebug

      - name: Install Dependencies
        run: |
          composer global require humbug/box
          composer install --prefer-dist

      - name: Create Release Assets
        run: |
          $(composer config home)/vendor/bin/box compile

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
          prerelease: ${{ contains(github.ref, '-') }}
          body: |
            ## Changelog
            The full changelog can be found in our [changelog file](https://github.com/gordalina/cachetool/blob/${{ github.ref }}/CHANGELOG.md)

      - name: Upload Release Assets
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./cachetool.phar
          asset_name: cachetool.phar
          asset_content_type: application/octet-stream

      - name: Update GitHub Pages
        run: |
          REF="${{ github.ref }}"
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          bin/update-gh-pages.sh ${REF/refs\/tags\//}
